* {
    -fx-font-family: PIXY;
}

.button {
    -fx-font-size: 60px;
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 0, 0.0, 0, 5);
    -fx-padding: 0;
}

.button:hover, .button:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.button:pressed {
    -fx-translate-y: 5px;
    -fx-effect: dropshadow(three-pass-box, transparent, 0, 0.0, 0, 0);
}